{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>


    <link rel= "stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    

</head>
<body>
    <header class="header sticky-top"> 
        <div class="header-container d-flex">
            <nav class="header-nav pt-4">

                <ul class="header-list d-flex">
                    <li>
                        <a href="/" class="nav-a m-3">Home</a>
                    </li>

                    <li>
                        <a href="#" class="nav-a m-3">Catalog</a>
                    </li>
                </ul>

            </nav>
            <div class="header-profile">
                <a href="#" class="m-3">Log in</a>
            </div>
        </div>

    </header>

    <div class="container">
        {% block  content%}
        {% endblock %}
    </div>

    




    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
